/**********************************************
general
***********************************************/

a{
    text-decoration: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.pie {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

#logo {
    text-align: center;
    margin: 0;
}

img {
    max-width: 100%;
}

h3 {
    margin:0 0 1em 0;
}

.saturn {
    padding: 0;
    margin: 0;
    max-width: 75px;
    background-image: url('images/mrsaturn.svg');
}

.galaxy {
   background-image: url('images/blackbg2.jpg')
}

/*********************************************
header
**********************************************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-family: 'Rock Salt', cursive;
    margin: 15px 0;
    font-size: 1.75em;
    text-decoration: none;
}

/**********************************************
Navigation
***********************************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul{
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/**********************************************
footer
***********************************************/
footer {
    font-size: 1.5em;
    text-align: center;
    padding-top: 50px;
    color: firebrick;
    clear: both;
}

.social-media-icon{
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding-left: 100px;
}

/**********************************************
page portfolio
***********************************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: dodgerblue;
    color: red;
}

#gallery li a p {
 margin: 0;
 padding: 5%;
 font-size: 0.75em;
 color: white;
}

#gallerys {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallerys li{
    float: left;
    width: 13.5%;
    margin: 0;
    color: red;
}

#gallerys li a p {
 margin: 0;
 padding: 0;
 font-size: 0.75em;
 color: white;
}

#carousel {
		width: 480px;
		overflow:hidden;
	}

	#carousel ul {
		width: 1920px;
		padding: 0;
		margin: 0;
	}

	#carousel ul li {
		width:480px;
		text-align: center;
		height: 280px;
		list-style: none;
		float:	left;
	}
/**********************************************
about me page
***********************************************/
.profile-photo {
    display: block;
    max-width: 100px;
    border-radius: 15%;
}

.font {
    font-size: 25px;
    color: white;
}
/**********************************************
contact page
***********************************************/
.contact-info{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    background-image: url('images/mail2.png'); 
}

.contact-info li.twitter a {
    background-image: url('images/1443858628_Twitter.png');
}

.contact-info li.Instagram a {
    background-image: url('images/1443937356_Instagram.png')
}

.black {
    color: black;
}
/**********************************************
color
***********************************************/
body {
    background-color: white;
    color: brown;
}
a {
    color: #2fc8d0;
}

header {
    background: #2fc8d0;
}
h1, h2 {
    color: black;
}

nav {
    background-color: darkblue;
}

nav a, nav a:visited{
    color: black;
}

nav a.selected, nav a:hover {
    color: white;
}

/**********************************************
media queries
***********************************************/

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    } 
    
    #secondary {
        width: 40%;
        float: right;
    }
    
    #gallery li {
        width: 28.3333%;
        
    }
    
    #gallery li:nth-child(4n){
        clear: left;
    }
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px){
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
        
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid white;
        margin-bottom: 60px;
    }
}
